<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
</head>
<body>
    <h1><a href="./index">Blog de Stu</a></h1>
    <h2><a href="./categories">Categories</a></h2>
    <h3 th:text="${category.id}">[Category Name]</h3>
    <ul>
        <li th:each="post:${category.posts}"><a th:href="@{'/posts/'+ ${post.id}}"
        th:text="${post.postTitle}">[Post Title]</a></li>
    </ul>
</body>
</html>