<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1><a href="index.html">Blog de Stu</a></h1>
    <h2>Categories</h2>
    <ul>
        <li th:each="category:${categories}"><a th:href="@{'/categories/' + ${category.name}}"
                th:text="${category.name}">Category</a>
        </li>
    </ul>
</body>
</html>